:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y proximity ;
}
/* scroll snap */
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #bdbfc046 0%, var(--blanco) 100%);
}
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 2rem;

}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media(min-width:768px) {
    .boton{
        width: auto;
    }
    
}
.boton:hover {
    cursor: pointer;
}

/* Tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center; 
}

/* Titulos */
.titulo span{
    font-size: 2rem;
}
/* utilidades */
.w-100{
    width: 100%;
}

@media(min-width: 768px) {
    .w-100{
        width: auto;
    }
}

.alinear-derecha{
    display: flex;
}
.flex{
    justify-content: flex-end;
}

/* Navegacion Principal */
.nav-bg{
    background-color: var(--secundario); 
}

.navegacion-principal{
    display: flex;
    flex-direction:column;
}
@media(min-width: 860px) {
    .navegacion-principal{
       flex-direction: row;
       justify-content: space-between;
    }
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;

}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}


/* Hero */
.hero{
    background-image: url(../img/freelancer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    background-color: rgb(0 0 0 /50%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
   display: flex;
   align-items: center 
}


/**serivico**/
@media(min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
    }
}

.servicio{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: 400;
    text-align: center;
}
.servicio p{
    line-height: 2;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* contactos */
.formulario{
    background-color: var(--gris);
    width: min(100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario); 
}
.campo{
    margin-bottom: 1rem
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin: 0.5rem; ;
    display: block;
}

.inputtext{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.marging-secciones{
    margin-bottom: 2rem;
}

.img-sobremi img{
  height: 100px;
  width: 150px;
}

.img-quality{
    height:100%;
    width: 100%;

}
@media(min-width: 768px) {
    .sobremi{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}
